@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:ital@1&display=swap');
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
body {
  background-color: #D6EFC7;
  font-family: 'Open Sans', sans-serif;
  color: #96BB7C;
  font-size: 16px;
  line-height: 1.4;
}

h1, h2 {
  color: #184D47;
  font-family: 'Lobster', cursive;
  font-size: 20px;
  line-height: 1.4;
}

a {
  color: #EEBB4D;
  text-decoration: none;
  background-color: #184D47;
}

a:hover {
  color: #96BB7C;
}

img {
  border-radius: 50%;
  width: 300px;
  height: auto;
  display: block;
}

.container {
  width: 500px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

.card {
  text-align: center;
  background: white;
  padding: 100px;                      /* White background */
  border: 5px solid black;
  margin: 10px 0px 10px 0px;                     /* Small radius */
  box-shadow: 0 10px 30px rgba(0,0,0,.1);    /* Light shadow */
}

.btn-green {
    padding: 15px 20px;
    border-radius: 4px;
}

.list-inline {
  display: inline-block;
  padding: 0px 20px;
  list-style: none;
  padding-left: 0px;
}


